.wrapper .contract-detail p {
  color: #404040;
  font-size: 10px;
  line-height: 17px;
}
.contract {
  /* font-family: Poppins; */
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
/*---------------------- contract ---------------------*/
.contract .container {
  position: relative;
}
.contract .list-contract {
  padding: 0 25px;
  margin: 0 auto;
  background-image: url(../../img/contract/body.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}
/* .contract {
} */
.contract .contract__title {
  padding-top: 80px;
  padding-left: 29px;
}
.contract .contract__title h3 {
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 27px;
}
.contract .contract__content {
  padding: 17px 29px;
  margin-bottom: 25px;
  border: 1px solid #5fc8d7;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
.contract__content .contract-item .row {
  align-items: center;
}
.contract__content .contract-item .line {
  display: flex;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.contract__content .contract-item .line-left {
  padding-right: 40px;
}
.contract__content .contract-item .line img {
  width: 92px;
}
.contract__content .contract-item .line p {
  color: #594a42;
  font-size: 14px;
  line-height: 20px;
}
.contract__content .contract-item .line .line-inner p {
  color: #594a42;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 12px;
}
.contract__content .contract-item .line .line-inner img {
  width: 121px;
}
.contract__content .contract-item .line .line-inner .text-blue {
  color: #2fbbb2;
}
.contract__content .contract-item .line .line-inner .text-red {
  color: #eb2227;
}
.contract__content .contract-item .line .drop-detail {
  display: flex;
}
.contract__content .contract-item .line .drop-detail p {
  font-size: 11px;
  line-height: 14px;
}
.contract__content .contract-item .line .drop-detail .icon {
  width: 21px;
  margin-right: 10px;
  cursor: pointer;
}
.contract__content .hiding {
  display: none;
}
.contract__content .contract-item .line .btn {
  font-size: 9px;
  line-height: 10px;
  padding: 5px 18px;
  text-align: left;
  position: relative;
}
.contract__content .contract-item .line .red-btn {
  margin-top: 45px;
}
.contract__content .contract-item .line .red-btn:hover {
  background-color: #eb2227;
  color: white;
}
.contract-detail .detail-half {
  min-height: 190px;
  margin-top: 40px;
}
.contract-detail .detail-half .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #c6c2de;
}
.contract-detail .detail-half .title p {
  color: #bb4738;
  font-size: 12px;
  line-height: 20px;
}
.detail-half .content .line-inner {
  padding: 7px 0;
}
.detail-half .content .line-inner .row {
  justify-content: space-between;
}
.detail-half .content .line-inner .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-half .content .line-inner .inner-content .blue {
  color: #197bbd;
  font-weight: 600;
}
.detail-half .content .line-inner .inner-content .blue-thin {
  color: #197bbd;
  font-weight: 500;
}
.contract-detail .detail-total {
  border-top: 1px solid #c6c2de;
  padding-top: 10px;
}
.contract-detail .detail-total .line-inner .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-total .content .line-inner .inner-content .blue-thin {
  color: #197bbd;
  text-align: left;
}
.detail-total .content .line-inner .inner-content .blue {
  color: #197bbd;
  font-weight: 600;
}
.detail-half .content .line-inner .outhouse {
  text-align: right;
}
.detail-half .content .line-inner .outhouse p {
  width: 100%;
}
.detail-total .content .line-inner .outhouse {
  text-align: right;
}
.detail-total .content .line-inner .outhouse p {
  width: 100%;
}
.detail-total .content .line-inner .row {
  justify-content: space-between;
}
.contract .search-contract {
  padding-left: 55px;
  padding-top: 55px;
  padding-bottom: 185px;
}
.contract .messenger {
  position: absolute;
  cursor: pointer;
  bottom: 40px;
  width: 56px;
  height: 56px;
  right: 25px;
}

.modal.fade .modal-footer {
  max-width: 80%;
  border-top: none;
}
.modal.fade .modal-footer .modal-content {
  padding: 0 25px;
}
/* --------- modal-terms -------------------- */
.modal.fade .modal-form .modal-content {
  position: relative;
  padding-bottom: 25px;
}
.modal.fade .modal-form .modal-content .modal-header {
  margin: 0 auto;
  border-bottom: none;
  padding-top: 45px;
}
.modal.fade .modal-form .modal-content .modal-header .close {
  position: absolute;
  right: 16px;
  top: 16px;
}
.modal-form .modal-content .modal-body .form-item {
  padding-bottom: 24px;
}
.modal-form .modal-content .modal-body .form-item span {
  font-size: 13px;
  line-height: 19px;
  color: #8e8e8e;
}
.modal-form .modal-content .modal-body .form-item select {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #8e8e8e;
}
.modal-form .modal-content .modal-body .form-item select:focus-visible {
  outline: none;
}
.modal-form .modal-content .modal-body .form-item input {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #8e8e8e;
}
.modal-form .modal-content .modal-body .form-item input::placeholder {
  color: #c9c9c9;
}
.modal-form .modal-content .modal-body .form-item input:focus-visible {
  outline: none;
}
.modal-form .modal-content .modal-footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
.modal-form .modal-content .modal-footer .btn {
  padding: 12px 72px;
  margin-right: 0;
}

.modal-form .modal-content .modal-body .style-change {
  display: flex;
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
}
.modal-form .modal-content .modal-body .style-change h5 {
  padding-bottom: 15px;
}
.modal-form .modal-content .modal-body .style-change img {
  max-width: 68px;
  margin-bottom: 16px;
}
.modal-form .modal-content .notfound-btn .btn {
  padding: 12px 33px;
}
.modal-form .modal-content .modal-body .success-change {
  padding: 0;
  text-align: center;
}
.modal-form .modal-content .modal-body .success-change h5 {
  padding-top: 0;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .contract .contract__title {
    padding-left: 0;
  }
  .contract .contract__title h3 {
    font-size: 26px;
    padding-left: 0;
    line-height: normal;
    padding-bottom: 15px;
  }
  .contract__content .contract-item .line-left {
    padding-right: 0;
  }
}
@media (max-width: 600px) {
  .contract__content .contract-item .line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .contract .contract__content {
    padding: 10px;
  }
}
